* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {    /* selects the last flexitem of the container*/
    content: ""; 
    width: 350px;    /* assign same with and no string to content(justify) to img aligns to the left margin*/
  }
  
  /*
Flexbox has a main and cross axis. The main axis is defined by the flex-direction property, which has four possible values:

   row (default): horizontal axis with flex items from left to right
   row-reverse: horizontal axis with flex items from right to left
   column: vertical axis with flex items from top to bottom
   column-reverse: vertical axis with flex items from bottom to top

Note: The axes and directions will be different depending on the text direction. The values shown are for a left-to-right text direction.
*/
